<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <!-- Datos personales -->
            <div id="dataPersonal">
                <h1>{{firstName + " " + firstlastName + " " + secondlastName}}</h1>
                <h3>{{profesion}}</h3>
                <p>{{descripcion}}</p>
            </div>
        </div>
        <div class="columns">
            <div class="c1">
                <div id="dataExperience">
                    <h3>Experiencia laboral</h3>
                    {%for i, e in experience.items()%}
                    <h4>{{e.rol}}</h4>
                    <h5>{{e.company}}</h5>
                    <p class="small">{{e.time}}</p>
                    <p>{{e.descripcion_experience}}</p>
                    {%endfor%}
                </div>

                <div id="dataEducation">
                    <h3>Educacion y certificaciones</h3>
                    {%for i, e in education.items()%}
                    <h4>{{e.title}}</h4>
                    <h5>{{e.rol}}</h5>
                    <p>{{e.institution}}</p>
                    <p class="small">{{e.year_of_study}}</p>
                    {%endfor%}
                </div>
            </div>
            <div class="c2">
                <div id="dataContact">
                    <h3>Datos de contacto</h3>
                    <ul>
                        <li>Email: {{email}}</li>
                        <li>Telefono: {{cellphone}}</li>
                        <li>Ciudad: {{city}} {{country}}</li>
                    </ul>
                </div>

                <div id="dataSkill">
                    <h3>Habilidades</h3>
                    {%for i, s in skill.items()%}
                    <h4>{{s}}</h4>
                    {%endfor%}
                </div>
            </div>

        </div>

    </div>
</body>

<style>
    .header{
        padding: 2em;
    }
    .columns {
        column-count: 2;
        columns: 2 12em
    }
</style>

</html>