.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.padding-1em {
    padding: 1em;
}

.br {
    display: block;
    margin-bottom: 2em;
}

iframe {
    border-width: 0;
    height: 70vh;
}

@media (max-width: 768px) {
    .br {
        display: block;
        margin-bottom: 1em;
    }
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}